@import 'normalize';
@import 'mixins';
* {
	box-sizing: border-box;
}
body{
	        background: radial-gradient(#f4f3ef, #98c6c3) no-repeat;
	        height: 100vh;
}
.pedal {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 145px;
	height: 250px;
	padding: 6px;
	background: #ffe05d;
	border-radius: 10px;
	box-shadow: 
	inset 0px 0px 30px 1px rgba(0,0,0,0.22);
	@include absolute-centered;
	.knobs{
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		.knob{
			position: relative;
			width: 60px;
			height: 60px;
			background: #4d4d4b;
			border-radius: 50%;
			animation: rotate 5s infinite;
			&:before{
				content: '';
				position: absolute;
				top: 0px;
				left: 50%;
				transform: translateX(-50%);
				width: 4px;
				height: 25px;
				background: #fff;
			}
		}
		:nth-child(2){
			animation: rotate-differently 10s infinite;
		}
	}
	.label-output, .label-input{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}
	.label-output{
		position: absolute;
		top: 50%;
		left: -10px;
		@include vertical-centered-text;
	}
	.label-input{
		position: absolute;
		top: 50%;
		right: 0px;
		@include vertical-centered-text;
	}
	.centered{
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 60%;
		flex-direction: column;
		flex-grow: 1;
	}
	.brand{
		display: flex;
		width: 50%;
		height: 36px;
		border-radius: 6px;
		background: transparent;
		border: 4px solid #4a4a4a;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-weight: bold;
		color: #000;
	}
	.led{
		width: 10px;
		height: 10px;
		background: #ff0000;
		border-radius: 50%;
		box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.75) inset, 0 0 2px 0px rgba(0, 0, 0, 0.75); 
		background-image: -moz-radial-gradient( 70% 35%, circle closest-side, rgb(255,255,255) 18%, rgba(255,255,255,0) 100%);
  		background-image: -webkit-radial-gradient( 70% 35%, circle closest-side, rgb(255,255,255) 18%, rgba(255,255,255,0) 100%);
	}
	.lit{
		box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.75) inset, 0 0 2px 0px rgba(0, 0, 0, 0.75), 0 0 13px 1px rgba(255, 0, 0, 0.75);
	}
	.button {
	  position: relative;
	  background: #888;
	  height: 47px;
	  width: 47px;
	  border-radius: 50%;
	  
	}
	.button-link {
	cursor: pointer;
	  position: absolute;
	  width: 35px;
	  height: 35px;
	  box-shadow:
	    inset 0 0 25px rgba(222, 222, 222, 1),
	    inset -2px -2px 1px rgba(0, 0, 0, 0.25);
	  border-radius: 50%;
	  @include absolute-centered;
	  background-image: -webkit-radial-gradient( 50% 0%, 8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient( 50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient( 0% 50%, 50% 7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient( 100% 50%, 50% 5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%, 0%,0) 0%, hsla(0,0%, 0%,0) 3%, hsla(0,0%, 0%,.1) 3.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 6%, hsla(0,0%,100%,.1) 7.5%), -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%), -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
	}
	.button-link:active {
	  background: #999;
	}
	.hexagon {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  width: 40px; 
	  height: 23.09px;
	  background-color: #d8d8d8;
	  transform: translate(-50%,-50%);
	}
	.hexagon:before,
	.hexagon:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent;
	}
	.hexagon:before {
	  bottom: 99%;
	  border-bottom: 11.55px solid #d8d8d8;
	}
	.hexagon:after {
	  top: 99%;
	  width: 0;
	  border-top: 11.55px solid #d8d8d8;
	}
	.effect-type{
		font-family: Lobster, sans-serif;
		font-size: 20px;
	}



	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: -7px;
		transform: translateY(-50%);
		width: 10px;
		height: 50px;
		background: #d8d8d8;
		z-index: -1;
		border-radius: 5px 0px 0px 5px;
	}
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		right: -7px;
		transform: translateY(-50%);
		width: 10px;
		height: 50px;
		background: #d8d8d8;
		z-index: -1;
		border-radius: 0px 5px 5px 0px;
	}
}



@keyframes rotate {
  0% {
    transform: rotate(-120deg);
  }
  
  50% {
    transform: rotate(120deg);
  }
  
  100% {
    transform: rotate(-120deg);
  }
}

@keyframes rotate-differently {
  0% {
    transform: rotate(50deg);
  }
  
  50% {
    transform: rotate(-50deg);
  }
  
  100% {
    transform: rotate(50deg);
  }
}
